nav{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 30px ;
    grid-template-rows: 70px ;
    box-shadow: 0pc 5px 5px rgba(0,0,0,0.15);
    position:sticky;
    top:0;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
nav .brand{
    font-size:28px;
    font-weight: bold;
    color: #245990;
}
nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 35px;
    transition: background-color 0.3s,color 0.3s;
    color:#245990;
    font-size: 10px;
}
