.main{
    background-color: #d1d1f7;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    
}
.card-img-top {
    height: 600px; 
    object-fit: cover; 
}
.banner {
    position: relative;
    width: 100%;
    height: 680px;
    background-image: url('../pics/3.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) ;
}

.banner-content {
    position: relative;
    z-index: 1; /* Place le texte au-dessus de la couche sombre */
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.a{
    margin-top: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;

}


